@tailwind base;
@tailwind components;
@tailwind utilities;

:focus-visible {
  outline: 2px solid #f59e0b;
  outline-offset: 2px;
}

html,
body,
#root {
  height: 100%;
}

body {
  background-image: var(
    --bg,
    linear-gradient(135deg, #0b0b0f 0%, #0b0b0f 60%, #111215 80%)
  );
}

.honeycomb-mask {
  mask-image: radial-gradient(circle at center, black 60%, transparent 100%);
  -webkit-mask-image: radial-gradient(
    circle at center,
    black 60%,
    transparent 100%
  );
}

